/* Universal Styles */
html {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color:#4c4c4c;
}

a {
  text-decoration: none;
  color:dimgray;
}

strong {
  font-weight: 900;
}

.lightgray {
  color:lightgray;
}

.container {
  display:flex;
}

/* Header Styles */
.nav {
  padding: 1.6rem;
  height: 3.2rem;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  z-index: 100;
  background-color: white;
}

.logo, .nav {
  display: flex;
  align-items: center;
}

.nav span {
  padding: 0 .8rem;
}


/* Main Content Section */
.main-content {
}

.gray-bkgd {
  background-color: lightgray;
}

 /* Hero Section */

.banner.container {
  padding: 6.4rem 0 3.2rem 0;
  margin: 3.2rem 2.4rem;
  align-items: center;
}

.banner-img {
  width: 70%;
}

.banner-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-text {
  padding: 0 6rem 0 4rem;

}
.banner-text h1 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.4em;
}

.banner-text p {
  padding: 2.4rem 0;
  font-size: 2.4rem;
  line-height: 1.4em;
}

.banner .cta-button {
  padding: .8rem;
  background-color: dimgray;
  text-align: center;
}

.banner .cta-button span {
  font-size: 1.6rem;
  color: white;
}
